<div class="container">
  <div class="jumbotron banner-image" style="color:white; background-color:brown">
     <h1>BloccitOff: Your task manager</h1>
     <p>World's best self-destructing to-do lists!</p>

     <% if !current_user %>
       <div class="col-md-12">
         <div id="sign-up" style = "color:white;">
           <h4>Create your to-do lists today!</h4>
           <%= link_to "Sign In", new_user_session_path %> or
           <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
         </div>
       </div>
     <% end %>
  </div>


   <div class="row text-center">
     <h2>Get Organized Today</h2>
     <p>BloccitOff will make your life super fantastic with all your peers asking how do you stay so organized</p>
     <p>The very best part is that it is absoultely free!
  </div>

</div>
