<% if @item.valid? %>
   $('.js-items').prepend("<%= escape_javascript(render partial: 'items/item', locals: {item: @item})%>");
 <% else %>
   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
 <% end %>
